* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    }

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding-top: 40px;
}

nav {
    display: flex;
    height: 30px;
    justify-content: space-between;
}

#logo {
    margin-right: 23px;
    align-items: center;
}

#menu-info {
    display: flex;
}

#product img {
    margin-right: 12.85px;
}

#menu-info a{
    display: flex;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: black;
}

#product {
    display: flex;
    transition: 0.5s;
}

#product:hover {
    transition: 0.5s;
    opacity: 0.5;
}

#menu-item ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 6px;
}

#menu-item li {
    margin: 0 30px;
    transition: 1s;
}

#menu-item a {
    text-decoration: none;
    color: black;

}

#menu-item li:hover {
    transition: 1s;
    transform: scale(1.2);
    border-bottom: 1px solid black;
}


#busket-img {
    width: 20px;
    height: 20px;
}

#busket p {
    margin: 0;
    position: relative;
    bottom: -5px;
}

#busket a {
    display: flex;
    text-decoration: none;
    color: black;
}

#busket {
    display: flex;

}

#header {
    padding-top: 90px;
    display: flex;
}

#select-korm {
    width: 474px;
}

#header {
    justify-content: space-between;
    padding-bottom: 90px;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    margin: 60px 0 30px 0;
}

#select-korm p {
    width: 380px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

#select-korm button {
    transition: 1s;
    margin-top: 60px;
    width: 260px;
    height: 69px;
    background: #D00015;
    backdrop-filter: blur(100px);
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
}

#select-korm button:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 0 10px 1px black;
}

#otzivi {
    display: flex;
    padding-right: 85px;
    width: 500px;
}

#otzivi-play {
    width: 80px;
    height: 80px;
    transition: 1s;
    border-radius: 50%;
    background: #8e000e;
}

#knopka-otziv a {
    position: relative;
    top: 40px;
    left: 70px;
    height: 80px;
}

#otzivi-play:hover {
    transition: 1s;
    transform: scale(1.2) rotate(360deg);
    box-shadow: 0 0 10px 1px black;
}

#otzivi-arrow {
    width: 80px;
    height: 80px;
    position: relative;
    top: 90px;
    left: -20px;
}

#otzivi p {
    width: 105px;
    height: 60px;
    font-size: 14px;
    line-height: 140%;
    color: #444444;
    position: relative;
    top: 80px;
    left: -40px;
}

#otzivi-animals {
    border-radius: 206.5px 0px;
    box-shadow: 54px 54px 40px rgba(0, 0, 0, 0.18);
}


#korm {
    background: rgba(212, 219, 219, 0.35);
    padding: 80px 0 125px 0;
}

#korm-nav {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#korm-nav a {
    margin: 9px;
}

#korm-nav h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #1F1F1F;
}

#nav-arrows img {
    transition: 0.5s;
}

#nav-arrows img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#korms {
    display: flex;
    justify-content: space-between;
}

.korms-item {
    width: 30%;
    height: 484px;
    background: white;
    opacity: 0.8;
    transition: 0.5s;
}

.korms-item a {
    transition: 0.5s;
}

.korms-item a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.korms-item:hover {
    opacity: 1;
    transition: 0.5s;
}

.korms-item-img {
    width: 83%;
    margin: 30px;
}

.korms-item-info {
    margin: 6px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.korms-item-info h3 {
    margin-bottom: 15px;
}

#zakaz {
    padding: 110px 0;
    text-align: center;
}

.zakaz-info, .zakaz-select, .zakaz-image {
    display: inline-block;
}
.zakaz-info {
    width: 30%;
    vertical-align: top;
    text-align: left;
}

.zakaz-title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #1F1F1F;
    margin-bottom: 30px;
}

.zakaz-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: #444444;
    max-width: 100%;
}

.zakaz-select {
    width: 30%;
    margin: 0 1%;
    vertical-align: top;
}

.zakaz-select-input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #9D9D9D;
    padding: 22px;
    margin-bottom: 15px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: black;
}

.zakaz-select-input::placeholder {
    color: #a2a2a2;
}

.zakaz-select-button {
    background-color: #d00015;
    color: white;
    cursor: pointer;
    transition: 1s;
    border: none;
}

.zakaz-select-button:hover {
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 0 0 10px 1px black;
}

.zakaz-image {
    background: url("../images/kiten.png");
    width: 30%;
    height: 300px;
    background-size: cover;
    border-radius: 200px;
    box-shadow: 40px 40px 60px #b2b2b2;
}

#footer {
    padding: 34px 0 42px 0;
    background: #f0f3f3;
    justify-content: space-between;
}

.footer-text {
    display: inline-block;
    max-width: 188px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 2.2;
    color: #444444;
    text-align: left;
}

.footer-connection {
    display: inline-block;
}

#footer > .container > div {
    display: flex;
    justify-content: space-between;
}

.footer-connection-text {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #444444;
    text-align: left;
}

.footer-connection-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1F1F1F;
}

.footer-connection-phone {
    text-decoration: none;
}

